body {
    height: 100vh;
}

#app {
    height: 100vh;
    margin: auto;
}

.container {
    height: 100vh !important;
}

.col {

    border-width: 1px;
    border: solid;
    border-color: black;
    padding: 0px;

}

#row1 {
    margin-top: 25px;
}

h1 {
    text-align: center;
}

button {
    font-size: 3em;
    background-color: white;
}

#reset {
    font-size: large;
    background-color: lightblue;
}

.row {
    height: 12%;
    max-width: 720px;
    margin: auto;
}

