body {
    height: 100vh;
}

#app {
    height: 100vh;
    margin: auto;
}

.container {
    height: 100vh !important;
}

.col {

    border-width: 1px;
    border: solid;
    border-color: black;
    padding: 0px;

}

#box0, #box1, #box2 {
    border-top: none;
}

#box8, #box5, #box2 {
    border-right: none;
}

#box8, #box7, #box6 {
    border-bottom: none;
}

#box0, #box3, #box6 {
    border-left: none;
}

#row1 {
    margin-top: 25px;
}

h1 {
    text-align: center;
}

button {
    font-size: 3em;
    background-color: white;
}

.row {
    height: 20%;
    max-width: 720px;
    margin: auto;
}

